// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question {
  border-left: 3px solid #ccc;
  padding-left: 20px;
}

.user {
  color: #ddd;
}

.answer {
  border-left: 3px solid #ccc;
  background-color: #FFFEE4;
  padding-left: 20px;
}
